<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsp.dao.BlockDao">
    <resultMap id="blockResultMap" type="com.bsp.entity.Block">
        <result property="officesiteId" column="officesite_id"/>
        <result property="attachmentId" column="attachment_id"/>
    </resultMap>
</mapper>
